<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class="media-body">
      <h5><%= item.name %> </h5>
          <small>
              submitted <%= time_ago_in_words(item.created_at) %> ago
               <%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
          </small>
  </div>
<% end %>
